 <html>
    <head>
        <title>Users</title>
    </head>
    <body>
        <h1>Users</h1>
        {{#users}}
        <div>
            <p>Username: {{username}}</p>
            <p>Displayname: {{displayName}}</p>
        </div>
        {{/users}}
    </body>
</html>


